{% extends 'blogging/base.html' %}

{% block title %}
    home
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <h1>Contact Us</h1>
        <div class="col-sm-6 offset-3">
            <form class="mt-4">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                  </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
        </div>
    </div>
</div>
{% endblock content %}